.cpuLineMarker {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}
.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 14px;
    box-shadow: 10px 0px 1px 1px #ff2020 inset; 
}
.right {
    text-align: right;
}

.tabs {
    border-bottom: 1px solid #999;
}
.tabs input {
    display: none;
}
.tabs label, .tabs button {
    display: inline-block;
    border: 1px solid #999;
    background: #EEE;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
}
.tabs input:checked + label {
  background: #FFF;
  border-bottom: 1px solid transparent;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
  background: white;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
body {
  margin: 0;
}
textarea {
  resize: none;
}
canvas {
    image-rendering: pixelated;
}

.filelist ul {
  padding: 0;
  margin: 0;
}

.filelist li {
  overflow: auto;
  background: #eee;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  padding: 1px;
}
.filelist li:nth-child(odd) {background: #fff}
.filelist li.active {background: #ccf}
.filelist button {
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  padding: 0 3;
  float: right;
}

.container {
    display: grid;
    grid-template-columns: 200px auto 520px;
    grid-template-rows: auto 20%;
    grid-gap: 0;
    height: 100%;
}
.sidebar {
    grid-column: 1;
    grid-row: 1;
    overflow: auto;
}
.editor {
    grid-column: 2;
    grid-row: 1;
}
.emulator {
    grid-column: 3;
    grid-row: 1 / 3;
}
.console {
    grid-column: 1 / 3;
    grid-row: 2;
}

.emulator_screen_container {
    width: 512;
    height: 512;
}
.emulator_canvas_screen {
    width: 480;
}
.emulator_vram_screen {
    width: 512;
}

@media only screen and (max-height: 600px) {
    .emulator_screen_container {
        width: 256;
        height: 256;
    }
    .emulator_canvas_screen {
        width: 240;
    }
    .emulator_vram_screen {
        width: 256;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 600px auto 300px;
        grid-gap: 0;
    }
    .editor {
        grid-column: 1;
        grid-row: 1;
    }
    .emulator {
        grid-column: 1;
        grid-row: 2;
    }
    .console {
        grid-column: 1;
        grid-row: 3;
    }
}